body{
  margin: 0;
  padding: 0;
  background-color: rgb(234, 209, 87);
  background-color: rgb(231, 231, 235);
  background-image: url("./erp-system-850.jpg");
  /* background-position: center;
  background-attachment: scroll; */
  background-size: cover;
  /* color:rgb(246, 156, 138);; */

}